﻿@*@model Phone_Project.Data.QuestionType*@
@model Phone_Project.Data.Question
@*@model IEnumerable<Phone_Project.Data.QuestionType>*@

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="CreateQuestion" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameQuestion" class="control-label"></label>
                <input asp-for="NameQuestion" class="form-control" />
                <span asp-validation-for="NameQuestion" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="IdQType" class="control-label"></label>
                    <select asp-for="IdQType" class ="form-control" asp-items="ViewBag.IdQType"></select>
                </div>*@
            <div class="form-group">
                <label asp-for="IdQType" class="control-label"></label>
                @* <select asp-for="IdQType" class="form-control" asp-items="ViewBag.IdQType"></select>*@
                <select asp-for="IdQType" class id="IdQType">
                    @foreach (var item in ViewBag.QuestionType)
                    {
                        <option value="@item.IdQType">@item.NameQType</option>
                       
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
