﻿@model IEnumerable<Phone_Project.Data.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionType)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionType.NameQType)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>*@
           
        </tr>
}
    </tbody>
</table>
